.page {
  height: 100vh;
}

.left {
  width: 550px;
  height: 100%;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
}

.switch {
  background-color: white;
  border: 1px solid black;
  width: 230px;
  height: 55px;
  margin: 10px auto;
  position: relative;
}

.switch-button {
  display: flex;
  position: relative; /* Add position relative to the switch button container */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.8s ease;
}

.login-side {
  position: absolute;
  left: 0;
  text-align: center;
  width: 50%;
}

.signup-side {
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
}

.switch-button {
  display: flex;
}

.login-side,
.signup-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login input {
  border: none;
  outline: none;
  background-color: #f2f2f2;
  height: 45px;
  padding-left: 10px;
  margin: 10px;
}

.login button {
  background-color: #e6e6e6;
  border: none;
  height: 50px;
  margin: 10px;
}

.login button:hover {
  cursor: pointer;
  background-color: #cccccc;
}

/* Sign Up */

.agree {
  display: flex;
  align-items: center;
}

.agree p {
  margin: 0;
  margin-left: 10px;
}

.agree-outer {
  border: 1px solid;
  height: 20px;
  width: 20px;
  padding: 2px;
  margin-left: 10px;
}

.agree-inner {
  width: 100%;
  height: 100%;
}
