@media screen and (min-width: 1900px) {
  .question-card {
    margin-right: 1200px;
    left: 43%;
  }
}

@media screen and (max-width: 1500px) {
  .question-card {
    margin-right: 545px;
    left: 35%;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    flex: 1 0 calc(50% - 20px); /* Each card takes 25% of the available space minus margins */
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 1010px) {
  .question-card {
    margin-right: 450px;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 915px) {
  .question-card {
    left: 6%;
    margin-right: 230px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 800px) {
  .card {
    flex: 1 0 calc(100% - 20px); /* Each card takes 25% of the available space minus margins */
    max-width: calc(100% - 20px);
  }

  .question-card {
    left: 4% !important;
    margin-right: 180px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 600px) {
  .question-cards-container {
    width: 2000px;
  }

  .question-card {
    width: 270px;
    height: 370px;
    margin-right: 130px;
    left: 3%;
    top: 12%;
    transform: translate(-50%, -50%);
  }

  .question-cards-background {
    width: 280px;
    height: 380px;
  }
}
